.botao-caixa-fechado {
    background-color: #20AA57;
    padding: 0.6rem 2rem 0.6rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.botao-caixa-aberto {
    background-color: #FD8719;
    padding: 0.6rem 2rem 0.6rem 2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.div-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-pdv {
    color: #5e6561;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.texto-data {
    color: #303030;
    font-size: 10px;
    margin-top: 0.5rem;
}

/* ------- VENDA ------- */

.container-venda {
    background-color: white;
    width: 100%;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
}

.div-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
}

.venda-texto {
    font-size: 19px;
    font-weight: 600;
}

.botao-adicionar {
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    border-radius: 50px;
    background-color: #20AA57;
    color: white;
    align-items: center;
    gap: 0.5rem;
}

.add-icon {
    font-size: 25px;
    color: white;
}

.div-tabela {
    margin-bottom: 1rem;
    border: solid 1px #dfdfdf;
    border-radius: 9px;
}

table {
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #C6C6C6;
    color: black;
    font-weight: 400;
    padding: 0.5rem;
}

td {
    padding: 0.5rem;
}


.input-qtd {
    width: 50px !important;
    background-color: transparent;
    border: none;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

.trash-icon {
    font-size: 16px;
    color: black;
}

.container-valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;;
    border-radius: 0.5rem;
    border: solid 1px #e4e4e4;
    align-items: center;
}

.div-valor {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.input-desconto {
    width: 120px !important;
    background-color: rgb(236, 236, 236);
    border: none;
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.titulo-valor {
    font-size: 16px;
    font-weight: 400;
}

.texto-valortotal {
    font-size: 21px;
    font-weight: 500;
}

.container-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: solid 1px #e4e4e4;
}

.container-registrarvenda {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.botao-registrar {
    padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    border: none;
    border-radius: 5px;
    background-color: #20AA57;
    color: white;
}

.titulo-pagamento {
    font-size: 18px;
    font-weight: 600;
}

.subtitulo-pagamento {
    font-size: 13px;
    font-weight: 400;
}

.container-pagamentos {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.container-pagamentos label {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 40px;
}

.pagamento-opcao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.3s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.pagamento-opcao {
    background-color: #D6D6D6;
    border-color: #D6D6D6;
}

.pagamento-opcao:hover {
    background-color: #D6D6D6;
}

.container-parcelamento{
    margin-top: 1.5rem;
}

.parcela-opcao {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.3s;
}

.container-parcelamentos {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
}

.container-parcelamentos label {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 30px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+.parcela-opcao {
    background-color: #D6D6D6;
    border-color: #D6D6D6;
}

.parcela-opcao:hover {
    background-color: #D6D6D6;
}

.titulo-parcelamento{
    font-size: 16px;
}